# Frontend Ignore
tagore/node_modules/
tagore/build/
tagore/.env
tagore/.DS_Store
tagore/npm-debug.log*
tagore/yarn-debug.log*
tagore/yarn-error.log*

# Python Ignore
**/__pycache__/
**/*.py[cod]
*$py.class

# Backend Specific Ignore
tagore-backend/venv/
tagore-backend/.env
tagore-backend/*.log

# Database Ignore
tagore-data/
tagore-data/*

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Miscellaneous
.env
*.log